.about {
    display: flex;
    background: linear-gradient(307deg, rgba(137, 203, 235, 1) 0%, rgba(204, 231, 242, 1) 75%);
    .render {
        margin-right: 15rem;
        width: 45rem;
        height: 45rem;
        box-sizing: content-box;
        filter: blur(0);
        -webkit-filter: blur(0);
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    .insideabout{
        margin-left: 15rem;
    }
    h1 {
        text-align: center;
        font-size: 7rem;
        background:
            -webkit-linear-gradient(45deg,
                #2c3340,
                #00c1ff 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.productshome {
    background-color: #00789f;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}