.about {
    display: flex;
    .render {
        margin-right: 10%;
        width: 45rem;
        height: 45rem;
        box-sizing: content-box;
        filter: blur(0);
        -webkit-filter: blur(0);
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
    .insideabout{
        margin-left: 10%;
        p {
            margin: 0 10%;
            line-height: 2.5rem;
            font-size: 2.2rem;
            margin-bottom: 2rem;
        }
    }
    h1 {
        text-align: center;
        font-size: 7rem;
        background:
            -webkit-linear-gradient(45deg,
                #2c3340,
                #00c1ff 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.productshome {
    background-color: #00789f;
    display: grid;
    grid-template-areas: "Cocinero Limpieza Cortacesped Piscinas";
    justify-content: space-around;
    padding: 2rem;

}

.mobileApp{
    background: linear-gradient(307deg, rgba(137, 203, 235, 1) 0%, rgba(204, 231, 242, 1) 75%);
    display: flex;
    .insideMobile{
        margin-right: 10%;
        margin-left: 10rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            text-align: center;
            font-size: 4.5rem;
            color: #2c3340;
            margin: 0;
        }
        img {
            height: 11rem;
            width: 30rem;
        }
        p {
            line-height: 2.5rem;
            font-size: 2.2rem;
            margin-top: 5rem;
        }
    }
    .mobileMockup{
        margin-left: 15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 50rem;
        height: 50rem;
        filter: blur(0);
            -webkit-filter: blur(0);
            transform: translateZ(0);
            -webkit-transform: translateZ(0);
    }
}

@media screen and (max-width: 1680px) {
    .productshome{
        grid-template-areas: "Cocinero Limpieza"
                             "Cortacesped Piscinas";
        justify-content: center;
        gap: 5rem;
    }
}

@media screen and (max-width: 1270px) {
    .mobileApp{
        .insideMobile{
            img{
                height: 7rem;
                width: 20rem;
            }
            p{
                margin-top: 2rem;
            }
        }
        .mobileMockup{
            margin-left: 5rem;
            width: 30rem;
            height: 30rem;
        }
    }
}

@media screen and (max-width: 930px) {
    .productshome {
        grid-template-areas: "Cocinero"
                             "Limpieza"
                             "Cortacesped"
                             "Piscinas";
        justify-content: center;
        gap: 2rem;
    }
    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .insideabout{
            margin: 0;
            p{
                margin: 0 15%;
            }
        }
        h1{
            margin: 3rem 0;
        }
        .render{
            margin: 0;
        }
    }
    .mobileApp{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}