.myaccount {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'SideNavAdmin content';
    h1 {
        text-align: center;
    }
    .contentMyaccount{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.adminacc{
    height: 73.2vh;
}
.useracc{
    height: 77.3vh;
}