.orderPage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'SideNavAdmin content';
    h1 {
        text-align: center;
    }
    .contentOrderPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        .orderItemsTable {
            background-color: #00789f;
            border-radius: 15px;
            padding: 2rem;
            text-align: center;
            font-size: 2.2rem;
            th,td {
                padding: 0 2rem;
            }
            th {
                color: white;
            }
            img {
                border: 4px solid #2c3340;
                width: 15rem;
                height: 15rem;
                object-fit: cover;
                border-radius: 5000px;
                margin: 1rem;
            }
            td {
                color: #2c3340;
            }
            tbody > tr{
                cursor: pointer;
            }
        }
    }
}