.insideAdminPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    .listbuttons {
            button {
                margin: 5rem;
            }
        }
        .manageTrabjadores {
            margin: 0 3rem;
            display: flex;
            flex-direction: column;
            .trabajadoresTable {
                background-color: #2c3340;
                border-radius: 15px;
                td {
                    padding: 2rem;
                    img {
                        border: 4px solid #00789f;
                        width: 15rem;
                        height: 15rem;
                        object-fit: cover;
                        border-radius: 5000px;
                    }
                    color: white;
                    font-size: 2.5rem;
                    text-align: center;
                }

            }
        }
}

