footer {
    background-color: #2c3340;
    display: flex;
    justify-content: space-around;
    padding: 2rem 8.5rem;
    color: white;
    gap: 2rem;
    a {
        color: #00789f;
        font-weight: bold;
        font-size: 2rem;
    }
    a:hover {
        color: #47c9f3;
    }

    .leftFooter{
        display: flex;
        .lineFooter{
            width: 3px;
            height: 100%;
            background-color: #00789f;
            margin-left: 2rem;
        }
        .footerlogo{
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 6rem;
                height: 9rem;
                filter: blur(0);
                -webkit-filter: blur(0);
                transform: translateZ(0);
                -webkit-transform: translateZ(0);
            }
        }
        div {
            display: flex;
            flex-direction: column;
            margin-left: 2rem;

            ul {
                display: flex;
                padding: 0;
                li{
                    margin: 0 2rem;
                }
            }
        }
    }
    .rightFooter{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div  {
            width: 100%;
            display: flex;
            justify-content: space-around;
            i {
                font-size: 2.7rem;
                color: #00789f;
            }
            i:hover {
                color: #47c9f3;
            }
        }
        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 920px) {
    footer{
        a{
            font-size: 1.8rem;
        }
        .rightFooter {
            div {
                i {
                    font-size: 2.2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    footer {
        flex-direction: column;
        line-height: 2rem;
        .leftFooter{
            align-items: center;
            justify-content: center;
        }
        .rightFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin-top: 1rem;
            }
        }
    }
}