
.header{
    background-color: white;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.301);
    position: fixed;
    width: 100%;
    z-index: 1;
    .bottomheader{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: "logo middlemenu rightmenu";
        li {
            color: #00789f;
            border: 2px solid transparent;
        }
        li:hover {
            color: #47c9f3;
            border-bottom: 2px solid;
        }
        a{
            color: #00789f;
        }
        a:hover{
            color: #47c9f3;
        }
        .logo {
            margin: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 6rem;
                filter: blur(0);
                -webkit-filter: blur(0);
                transform: translateZ(0);
                -webkit-transform: translateZ(0);
            }
        }
        .middlemenu{
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                padding-left: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    font-weight: bold;
                    margin-right: 2rem;
                }
            }
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 0px;
                li {
                    font-weight: bold;
                    margin-right: 2rem;
                }
            }
        }
    }
    .adminuser{
        background-color: #00789f;
        display: flex;
        padding: 1rem 0;
        justify-content: flex-end;
        align-items: center;
        li:hover{
            color: #47c9f3;
        }
        ul{
            margin: 0;
            padding-right: 3rem;
            li{
                color: white;
                font-weight: bold;
            }
        }
    }
    i {
        padding-right: 0.5rem;
    }
}

ul,
li {
    list-style: none;
}
.mobileMenu {
    display: none;
    color: #00789f;
    font-size: 5rem;
    height: 100%;
}
.open{
    display: block;
}
.close{
    display: none;
}
.red {
    color: red;
}
.openMobileMenu{
    display: none;
    position: absolute;
    background-color: lightgray;
    margin-top: 7.2rem;
    right: 0;
    padding: 0rem 4rem;
    font-size: 2rem;
    font-weight: bold;
    li{
        margin: 1rem 0rem;
        width: fit-content;
    }
    li:hover {
        color: #47c9f3;
    }
}

@media screen and (max-width: 1245px) {
    .header {
        .bottomheader {
            grid-template-columns: 0.5fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 1039px) {
    .header {
        .bottomheader{
            grid-template-columns: 1fr 1fr;
            gap: 30%;
            .middlemenu {
                display: none;
            }
            .menu {
                display: none;
            }
        }
    }
    .mobileMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;

    }
    .openMobileMenu{
        display: block;
    }
}
