.header{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    z-index: 1;

    .bottomheader{
        display: flex;
        justify-content: space-around;
        li {
            color: #00789f;
            border: 2px solid transparent;
        }
        li:hover {
            color: #47c9f3;
            border-bottom: 2px solid;
        }
        a{
            color: #00789f;
        }
        a:hover{
            color: #47c9f3;
        }
        .logo {
            margin: 0.5rem;
            img {
                height: 6rem;
                filter: blur(0);
                -webkit-filter: blur(0);
                transform: translateZ(0);
                -webkit-transform: translateZ(0);
            }
        }
        .middlemenu{
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;
                padding-left: 0px;
                li {
                    font-weight: bold;
                }
            }
        }
        .menu {
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;
                padding-left: 0px;
                li {
                    font-weight: bold;
                }
            }
        }
    }
    .adminuser{
        background-color: #00789f;
        display: flex;
        padding: 1rem 0;
        justify-content: flex-end;
        align-items: center;
        ul{
            margin: 0;
            padding-right: 3rem;
            li{
                color: white;
                font-weight: bold;
            }
        }
    }
}

ul,
li {
    list-style: none;
}