.verticalNavAdmin{
    background-color: #47c9f3;
    border-right: 2px solid #00789f;
    .insideVerticalNav {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            padding: 2rem;
            text-align: center;
            width: 100%;
            border-bottom: 2px solid #00789f;
            font-size: 2.5rem;
            font-weight: bold;
            color: white;
            a {
                color: white;
            }
        }
        li:hover {
            background-color: #00789f;
            transition: 0.2s ease-in;
            cursor: pointer;
        }
    }
}