.signin{
    display: flex;
    align-items: center;
    justify-content: center;
    .wrap{
        padding: 2rem 4rem;
        margin:5rem;
        background-color: lightgray;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
            margin-top: 0;
            font-size: 3rem;
            margin-bottom: 0;
        }
        form {
            button {
                margin-bottom: 2rem;
                margin-top: 2rem;
                width: 100%;
            }
            a{
                color: #00789f;
                font-weight: bold;
                padding-top: 1rem;
                display: block;
                cursor: pointer;
            }
            a:hover{
                color: #47c9f3;
                transition: 0.2s ease-in;
            }
        }
    }
}