.singin{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrap{
        margin-top: 5rem;
        width: 27rem;
        height: 12rem;
        background-color: lightgray;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
            margin-top: 0px;
            margin-bottom: 2rem;
        }
    }
}