.trabajadoresResults{
    h1{
        text-align: center;
    }
    select{
        margin-left: 8.5rem;
    }
    .insideResults {
        margin: 0 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'trabajador trabajador trabajador';
    }
}


