.card{
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) ;
    h2 {
        margin: 0;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;
        font-size: 3rem;
    }
    .inside {
        height: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;
        button{
            width: fit-content;
        }
    }
    img {
        width: 20rem;
    }
}