.trabajadorCard {
    background:
    -webkit-linear-gradient(45deg,
        #4c6aa3,
        #00c1ff 99%);
    margin: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'image data';
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 15px;
    color: white;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    .trabajadorCardImage{
        border: 4px solid #2c3340;
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 5000px;
        margin: 1rem;
    }
    .categoriaCard{
        display: flex;
        align-items: center;
        .iconCard {
            width: 4rem;
            margin-right: 1rem;
            filter: blur(0);
            -webkit-filter: blur(0);
            transform: translateZ(0);
            -webkit-transform: translateZ(0);
        }
    }

    .trabajadorCardData{
        height: 100%;
        display: flex;
        flex-direction: column;
        ul {
            height: 50%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin-left: 0.5rem;
            li {
                width: 100%;
                span {
                    font-size: 2rem;
                    color: #2c3340;
                }
            }
            .middleCard{
                margin-top: 0.5rem;
                display: flex;
                justify-content: space-between;
                padding-right: 1rem;
                span{
                    font-size: 3rem;
                    font-weight: bold;
                    color: white;
                }
            }
        }
        button {
            margin: 2rem 4rem;
        }
    }
}